# IDE Folders and Files
.idea/
src/backend/.idea/

# Build Files
src/backend/Backend.API/bin/
src/backend/Backend.API/obj/

src/backend/Backend.Data/bin/
src/backend/Backend.Data/obj/

src/backend/Backend.Domain/bin/
src/backend/Backend.Domain/obj/
